scripts/
python/
normal/
logs_filtro/
!lib/
lib/*
!lib/scripts_gnuradio_mpi/
!lib/scripts_gnuradio_mpi/**
coeficientes_filtro/
!gnuradio/
gnuradio/*
!gnuradio/gr-customModule/
!gnuradio/gr-customModule/**
!etc/
etc/*
!etc/hosts
!etc/hostfile.s

.gitignore